@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #e7ebed !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
label {
  margin-bottom: 0; /* Remove margin between label and input */
  display: block; /* Make label block level to avoid spacing issues */
}

input {
  margin-top: 0; /* Ensure there's no top margin causing space */
  padding: 10px; /* Add consistent padding for better user experience */
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: hwb(0 95% 5%);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}


/* for side bar */

.list-group a:hover {
  background-color: #0860b8;
  color: white;
  cursor: pointer;
}

.form-wrapper{
  height: 600px;
  margin-top: 90px;
}
.img-predict-input{
  width: 400px;
}
.btn-cancel-predict{
  top: -3px;
}